.vscode/**
.vscode-test/**

node_modules/**

.husky/**

src/**
bin/**
.github/**

scripts/**
tests/**

.gitignore
.gitattributes
tsconfig.json
yarn.lock

.DS_Store
.editorconfig
.eslintrc.js
.prettierrc

ROADMAP.md
vsc-extension-quickstart.md

known_issues.md